<h1>Hi <%= name %> </h1>

<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="../BBLoginfunctions.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div id="clockIn">
            <button onclick="calculateDistance()">Clock In</button>
        </div>
        <div id="locCheck">
        </div>
        <br>
        <a class="btn btn-lg btn-primary btn-block mb-2 button-login" href="/leaderboard">Check Leaderboard</a>

        <form action="/logout?_method=DELETE" method="POST" >
            <button type="submit">Log Out</button>
        </form>
    </body>
</html>


