<!DOCTYPE html>

<html lang="en-us">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- <script type="text/javascript" src="../BBLoginfunctions.js"></script> -->
	
	<script type="text/javascript" src="modalSignup.js"></script>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!-- BootStrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- jQuery, Popper.js and BootStrap JS Plugins-->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="/css/myStyle.css" type="text/css"></link>

<title>Login Bench Buddy</title>
<link rel = "icon" href = "dbell.png" type = "image/x-icon">
</head>
<body class="text-center">
    <% if (messages.error) { %>
        <%= messages.error %>
    <% } %>
	<form action="/login" method="POST">
		<meta charset="UTF-8">
		<img class="mb-4 mt-2" src="dbell.png" alt="" width="150vw" height="150vh">
		<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
		<div id="logIn">
			<label for="uname" class="sr-only">Enter Username</label>
			<input  type="text" name="mainUserName" id="uname" class="form-control input" value="" placeholder="Enter Username" required autofocus="">
			<label for="password" class="sr-only">Enter Password</label>
			<input type="password" name="mainPassword" id = "password" class="form-control input" value="" placeholder="Enter Password" required>

			<div class="checkbox mb-3 mt-3">
	        <label>
	          <input type="checkbox" value="remember-me"> Remember me
	        </label>
	      	</div>

            <button type="submit" class="btn btn-lg btn-primary btn-block mb-2 button-login">Log In</button>
            </div>

		<!-- Trigger the modal with a button -->
		<div id="signUp">
          <a class="btn btn-lg btn-primary btn-block button-signup" href="/register">Sign Up</a>

		</div>
    </form>
</body>
</html>